@model PhoneStore.Models.Phone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().SentBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().Posted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments.First().IP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SentBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IP)
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.Id">Add comment</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
